 @media(max-width: 480px){
     .side-bar{
         display: none;
        }
        .trends-container{
            display: none;
        }
     .main-trend-container{
         margin: 0;
     }
     .main-container{
         width: fit-content;
         border: 0;
     }
     .home-nav{
         font-size: 17px;
         width: 26.29rem;
     }
     .home-nav img{
         display: inline-block;
         height: 30px;
         margin-right: 18px;
     }
     .tweet-direct{
         height: 50px;
     }
     .tweet-section{
         display: none;
         margin: 0;
         padding: 0;
     }
    /* TIMELINE */
    .mobile-btn{
        display: inline-block;
        position: fixed;
        bottom: 4.3rem;
        right: 1rem;
        z-index: 1;
    }
    #btn-mobile{
        border-radius: 50%;
        background-color: rgb(29 155 240);
        width: 55px;
        height: 55px;
        border: none;
        padding: 15px; 
        fill: white;
    }
    .directory{
        position: fixed;
        bottom: 0;
        display: inline-block;
        display: flex;
        justify-content: space-around;
        background-color: white;
        height: 53px;
        width: 25.29rem;
        z-index: 1;
        
    }
    .w-paragraph{
        height: 16.7rem;
    }
    .m-b{
        margin-bottom: 58px;
    }
    .w-image {
       height: 24.8rem;
      }
      .tweet-text .twt-icons{
          top: 38px;
          width: 21rem;
      }
      .twt-icons-image,
      .twt-icons-para{
          width: 21rem;
}
.tweet-pic img {
    width: 20rem;
    height: 16.5rem;
}
 }